* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

.partie_1_avec_le_logo {
    width: 50%;
    height: 100px;
    background-color: #4f5d75;
}

.partie_1_avec_le_logo h1 {
   padding-top: 42px;
   text-align: center;
   font-size: 18px;
   color: white;
}

.partie_2_avec_les_lien {
    width: 50%;
    height: 100px;
    background-color: #4f5d75;
    display: flex;
}

.partie_2_avec_les_lien a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.partie_2_avec_les_lien li {
    list-style: none;
    padding-top: 10px;
}

.partie_2_avec_les_lien ul {
    width: 60px;
}

.partie_2_avec_les_lien button {
    margin-left: 40px;
    margin-top: 42px;
    height: 28px;
    width: 50px;
    border: 1px solid #bfc0c0;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.titre_des_abonnements {
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
}

table {
    margin: 12px;
}

table , th, td {
    border: 1px solid black;
    width: 350px;
    padding: 5px;
    font-size: 12px;
}

thead , tfoot {
    background-color: #4f5d75;
    color: white;
}


.titre_du_blog {
    text-align: center;
}

.article_du_blog {
    margin-left: 60px ;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 250px;
    height: 185px;
    text-align: center;
    box-shadow: 1px 6px 22px 15px rgba(0,0,0,0.22);
}

.img_du_blog {
    width: 100%;
    height: 50px;
    object-fit: cover;
}